{% load i18n %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<!doctype html>
    <!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
    <!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
    <!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
    <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <title>LinkedStats</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="{{ STATIC_PREFIX }}img/favicon.png">

        <!-- Stylesheets here ↓ -->
        <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/bootstrap.min.css"/>
        <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/bootstrap-responsive.min.css"/>

        <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/style.css"/>
        <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/prettify.css"/>

        <style type="text/css">
            pre
            {    
                font-size:11px;
                line-height:15px;
            }
        </style>

        {% block stylesheets %}
            <!-- Your custom stylesheets -->
        {% endblock %}

    </head>

    <body onload="init();">
    <h1><a>LinkedStats</a></h1>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="{% url website.views.index %}">LinkedStats</a>
                <ul class="nav">
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Waste & Population in Biscay<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li id="tit-map"><a href="{% url website.views.index %}">Waste generation heatmap</a></li>
                          <li id="tit-pop"><a href="{% url website.views.population %}">Population statistics</a></li>
                          <li id="tit-municip"><a href="{% url website.views.municipality_search %}">Data per municipality</a></li>
                        </ul>
                    </li>
                    <li id="tit-doc"><a href="{% url website.views.doc %}">Documentation</a></li>
                    <li><a href="http://helheim.deusto.es/linkedstats/sparql" target="_blank">SPARQL Endpoint</a></li>
                </ul>
                <a data-toggle="modal" href="#sparqlqueries" class="btn btn-primary btn-small pull-right">SPARQL queries used in this page&nbsp;&nbsp;&nbsp;<img src="{{ STATIC_PREFIX }}img/rdf-icon.png" width=25/></a>
            </div>
        </div>
    </div>

    <div id="sparqlqueries" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="sparqlquerieslabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="sparqlquerieslabel">SPARQL Queries</h3>
        </div>
        <div class="modal-body">
            <p>{% block sparqlmodal %}No SPARQL queries in this page{% endblock %}</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>


    <div class="container" style="min-height: 600px;">

        {% block content %}
            <!-- Your custom block content -->
        {% endblock %}

        <hr class="span11">
        <footer>
            <div class="row">
                <div class="span4">
                    <h5>Participants: </h5>
                    <a href="http://www.deustotech.eu" target="_blank"><img src="{{ STATIC_PREFIX }}img/deustotech.jpg" width=170/></a>
                    <a href="http://www.deusto.es" target="_blank"><img src="{{ STATIC_PREFIX }}img/deusto.png" width=130/></a>
                </div>
                <div class="span4">
                    <h5>Funded by: </h5>
                    <a href="http://www.bizkailab.deusto.es/" target="_blank"><img src="{{ STATIC_PREFIX }}img/bizkailab.png" width=130 /></a>
                    <a href="http://www.bizkaia.net" target="_blank"><img src="{{ STATIC_PREFIX }}img/bizkaia.png" width=130/></a>
                </div>
            </div>
        </footer>
    </div>

        <!-- Scripts here ↓ -->
        <script src="{{ STATIC_PREFIX }}js/jquery-1.8.3.min.js"></script>
        <script src="{{ STATIC_PREFIX }}js/bootstrap.min.js"></script>
        <script src="{{ STATIC_PREFIX }}js/jquery.lazyload.min.js"></script>
        <script src="{{ STATIC_PREFIX }}js/script.js"></script>
        <script src="{{ STATIC_PREFIX }}js/prettify.js"></script>
        <script>
          !function ($) {
            $(function(){
              window.prettyPrint && prettyPrint()   
            })
          }(window.jQuery)
        </script>

        {% block scripts %}
            <!-- Your custom scripts -->
        {% endblock %}

    </body>
</html>
